* {
  color: white;
  -moz-user-select: none;

}

body {
  background-color: #212121;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: rgb(90, 12, 7);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-family: "Creepster", sans-serif;
  letter-spacing: 2px;
  font-size: 4em;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 35%;
  margin-left: -180px;
  -webkit-animation: horror-animation 7s infinite;
}

.title {
  color: rgb(150, 14, 5);
  opacity: 0.5;
  font-size: 0.7em;
}

.death {
  font-family: "Creepster", sans-serif;
  font-size: 50px;
  color: rgb(150, 14, 5);
}

@-webkit-keyframes horror-animation {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    left: 51%;
    top: 36%;
  }
  20% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    left: 49%;
  }
  40% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
    left: 51%;
  }
  60% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    left: 50%;
  }
  80% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    left: 49%;
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    left: 50%;
  }
}

.btn {
  background: transparent;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.7;
  font-size: large;
  color: rgb(150, 14, 5);
  font-weight: bold;
  padding: 15px 50px;
  border-radius: 6px;
  border: 3px solid rgb(150, 14, 5);
  transition: all 0.3s;
}

#start button {
  position: absolute;
  left: 60%;
  top: 75%;
}

.btn:hover {
  background: rgb(150, 14, 5);
  color: black;

}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.main {
  font-size: 27px;
}

#first {
  width: 100%;
}

.middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.knife {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.car {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.stopcar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
.thirteen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-bottom: 20px;
}

.door {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.frontdoor {

  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.call {
  display: block;
  margin-left: auto;
  margin-right: auto; }

  .battery {
    display: block;
    margin-left: auto;
    margin-right: auto; }

    .hide {
      display: block;
      margin-left: auto;
      margin-right: auto; 
    width: 50%;
    }
    
  .freedom {
    
      display: block;
      margin-left: auto;
      margin-right: auto; 
    width: 50%;
    
  }
  .kill {
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }

  .lroom {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 30%;
  }
